<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/404.css" rel="stylesheet">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
    <div id="main">
        <div class="fof">
            <h1>¡Ups! <br>Parece que el recurso no se encuentra disponible</h1>
            <br>
            <a href="{{ url_for('render_page', page_name='main') }}"><h2>Regresar al Inicio</h2></a>
        </div>
    </div>
</body>
</html>